@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: #000000;
    padding: 22px 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.headlogo {
    width: 80px;
    height: 27px;
    align-self: center;
}
.list-links-header {
    display: flex;
    flex-wrap: wrap;
}

li.list-links:last-child {
    margin-right: 0;
}

.list-links {
    list-style-type: none;
    margin-right: 45px;
}
.links-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.69);
    text-decoration: none;
    
}

.block1 {
    background-color: #9a9a9a;
    padding: 100px 300px;
    
}

.wrapperblock1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.headtextblock1 {
    font-family: 'OpenSans', sans-serif;
    font-size: 33px;
    font-weight: 300;
    text-align: center;
    color: rgba(255, 255, 255, 0.22);
    margin-bottom: 16px;
}

.leftblock-block1 {
    width: 512px;
    
}

.logo-block1 {
    margin-bottom: 33px;
}
.headtext-lm-block1 {
    font-family: Raleway;
    font-size: 35px;
    color: #fff;
}

.whiteline {
    width: 65px;
    height: 2px;
    background-color: white;
    margin: 35px 0;
}
.maintext-lm {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.44;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 44px;
}
.button-lm-block1 {
    padding: 13px 35px;
    border: 2px solid white;
    background-color: #9a9a9a;
    color: #fff;
    font-family: 'OpenSans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

.rightblock1-form {
    width: 360px;
    background-color: #fff;
    align-self: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.header-form {
    font-family: 'OpenSans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
    background-color: #f5f5f5;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 16px 22px;
}

.wordfree {
    color: #ff8b38;
}

input.input-text {
    width: 75%;
    display: block;
    margin: 22px auto 42px auto;
    padding: 10px 14px;
    border: none;
    border-bottom: 0.5px solid #cfcdcd;
}

.btn-from {
    width: 100%;
    height: 54px;
    border: none;
    background-color: #ff8b38;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    font-family: 'OpenSans', sans-serif;
    cursor: pointer;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;    
}

.input-text:focus {
    outline: 22px;
    outline-offset: 22px;
}

.input-text::placeholder {
    color: #d0cbcbfe;
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
}

.input-text:nth-child(2) {
    margin-top: 30px;
}

.input-text:nth-child(4) {
    margin-bottom: 50px;
}

.footer1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 22px 300px;
}

.lefttext {
    width: 360px;
}

.sm {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    font-family: 'OpenSans', sans-serif;
}

.text-footer1 {
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.43;
    color: #86878b;
    font-family: 'OpenSans', sans-serif;
}

.sm-icons-footer1 {
    align-self: center;
}

.links-sm-footer1 {
    margin-right: 75px;
}

.block2 {
    background-color: #f5f5f5;
    padding: 130px 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.tab-bloc2 {
    width: 112px;
    height: 112px;
    background-color: #ff8b38;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    margin-bottom: 1px;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.33;
    font-family: 'OpenSans', sans-serif;
}

.tab-gray2, .tab-gray3 {
    background-color: #333333;
}

.tab-orange1 {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.tab-gray3 {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;    
}

.centermenu {
    width: 476px;
}

.center-head-text {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    font-family: 'OpenSans', sans-serif;
}

.center-text1, .center-text2 {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #86878b;
    font-family: 'OpenSans', sans-serif;
}

.center-text1 {
    margin-top: 52px;
}

.center-text2 {
    margin-top: 25px;
}
.btn-dwn-cm {
    border: none;
    background-color: #ff8b38;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    font-family: 'OpenSans', sans-serif;
    padding: 14px 26px;
    border-radius: 3px;
    margin-top: 35px;
    cursor: pointer;
}

.rightimg img {
    width: 100%;
    
}

.block3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 120px 300px;
}

.left-block3 {
    width: 453px;
    height: 303px;
    background-color: #9a9a9a;
    font-size: 33px;
    color: rgba(255, 255, 255, 0.22);
    font-family: 'OpenSans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 25px 0px gray;
    align-self: center;
    text-align: center;
}

.right-block3 {
    width: 430px;
}
.right-headtext {
    font-size: 20px;
    font-weight: bold;
    color: #212121;
    font-family: 'OpenSans' , sans-serif;
}
.orangeline {
    width: 64px;
    height: 2px;
    background-color: #ff8b38;
    margin: 25px 0;
}
.rightb3-text {
    font-size: 14px;
    line-height: 1.43;
    color: #86878b;
    font-family: 'OpenSans', sans-serif;
    margin-bottom: 45px;
}

.rightb3list {
    list-style-type: none;
    background: url(/img/list-icon-upload-u-127-copy.png) no-repeat, url(/img/.png) 11.4px 12px no-repeat, url(/img/list-icon-upload-u-127-copy1.png) 0px 90px no-repeat, url(/img/123.png) 11px 103px no-repeat;
}

.listb3 {
    font-size: 14px;
    line-height: 1.43;
    color: #86878b;
    font-family: 'OpenSans', sans-serif;
}

.headtextli {
    font-size: 14px;
    font-weight: 600;
    color: #212121;
    font-family: 'OpenSans', sans-serif;
}

.listb3 {
    margin-left: 30px;
}

.block4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 115px 300px;
    background-color: #f5f5f5;
}
.leftb4 {
    width: 473px;
    align-self: center;
}
.headtextb4 {
    font-size: 20px;
    font-weight: bold;
    line-height: 2.15;
    color: #212121;
    font-family: 'OpenSans', sans-serif;
}
.orangeline {
    margin: 30px 0;
}
.maintextb4 {
    font-size: 14px;
    line-height: 1.43;
    color: #86878b;
    font-family: 'OpenSans', sans-serif;
}

.block5 {
    padding: 110px 300px;
}

.headtextb5 {
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    color: #212121;
}

.headtextb5-2 {
    text-align: center;
    font-size: 14px;
    line-height: 1.43;
    color: #86878b;
    font-family: 'OpenSans', sans-serif;
}

.containerb5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
}

.leftcontentb5 {
    width: 340px;
}

.imgb5 {
    text-align: center;
}

.headtextlc {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #333;
    font-family: 'OpenSans', sans-serif;
    margin: 24px 0;
}

.lcmaintext {
    font-size: 14px;
    line-height: 1.43;
    color: #86878b;
    font-family: 'OpenSans', sans-serif;
    text-align: center;
}

.centercontentb5 {
    width: 340px;
}

.rightcontentb5 {
    width: 340px;
}

.block5 .orangeline {
    margin-left: auto;
    margin-right: auto;
}

.block6 {
    background-color: #f5f5f5;
    padding: 102px 300px;
}

.headtextb6 {
    font-family: Raleway;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #212121;
}

.block6 .orangeline {
    margin-left: auto;
    margin-right: auto;
}

.headtext2b6 {
    font-size: 14px;
    text-align: center;
    color: #86878b;
    font-family: 'OpenSans', sans-serif;
}

.containerb6 {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.leftpirceb6 {
    width: 343px;
    align-self: flex-end;
}

.headtext-price-b6 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    font-family: 'OpenSans', sans-serif;
    padding: 18px 0;
    background-color: #333333;
    margin-bottom: 1px;
}

.price {
    background-color: #333333;
    font-family: Raleway;
    font-size: 94px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.26;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    padding: 32px 0 22px 0;
}

.icon-currency {
    font-size: 35px;
}

.footertext-b6 {
    background-color: #333333;
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'OpenSans', sans-serif;
    font-style: italic;
    padding: 20px 0;
    border-bottom: 5px solid #ff8b38;
}

.centerpriceb6 .headerblockb6 .footertext-b6 {
    border-bottom: none;
}

.list-offers-b6 {
    list-style-type: none;
    background-color: #fff;
    margin: 0;
    padding: 0;
    
}

.list-offers {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #86878b;
    font-family: 'OpenSans', sans-serif;
    padding: 12px 0;
    border-bottom: 0.5px solid #f5f5f5;
}

.centerpriceb6 {
    width: 343px;
    align-self: flex-start;
}

.popular {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    font-family: 'OpenSans', sans-serif;
    background-color: #ff8b38;
    padding: 13px 0;
}

.rightpriceb6 {
    width: 343px;
    align-self: flex-end
}

.block7 {
    padding: 105px 300px;
}
.headtextb7 {
    font-family: Raleway;
    font-size: 36px;
    text-align: center;
    color: #212121;
}
.block7 .orangeline {
    margin: 30px auto;
}

.headtext2b7 {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #86878b;
    margin-bottom: 55px;
}

.containerb7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container_block {
    width: 273px;
}
.container-text {
    font-size: 14px;
    color: #86878b;
    font-family: 'OpenSans', sans-serif;
    font-style: italic;
    padding: 24px 14px;
    background: url(/img/u-229.png);
}

.photos-names {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.photo {
    width: 70px;
    height: 70px;
    margin-right: 15px;
}

.info {
    font-size: 14px;
    text-align: left;
    color: #86878b;
    font-family: 'OpenSans', sans-serif;
}
.name {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #333;
    font-family: 'OpenSans', sans-serif;
}

div.photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.block8 {
    background-color: #9a9a9a;
    padding: 70px 300px 25px;
}

.headtextb8 {
    font-family: Raleway;
    font-size: 36px;
    text-align: center;
    color: #fff;
}

.block8 .whiteline {
    margin: 25px auto;
    
}
.headtext2b8 {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}
.downloadb8 {
    font-size: 15px;
    color: #fff;
    border: 2px solid #fff;
    background-color: #9a9a9a;
    padding: 14px 33px;
    font-weight: 600;
    color: #fff;
    font-family: 'OpenSans', sans-serif;
    margin: 31px auto 22px;
    display: block;
    cursor: pointer;
}

.textb8 {
    font-size: 16.5px;
    text-align: center;
    color: rgba(255, 255, 255, 0.22);
    font-family: 'OpenSans', sans-serif;
}

.block9 {
    padding: 102px 300px;
}

.headtextb9 {
    font-family: Raleway;
    font-size: 36px;
    text-align: center;
    color: #212121;
}
.block9 .orangeline {
    margin: 30px auto;
}
.headtext2b9 {
    font-size: 14px;
    text-align: center;
    color: #86878b;
    font-family: 'OpenSans', sans-serif;
}

.form-contact {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-strings {
    border: none;
    border-bottom: 0.5px solid #e4e0e0;
    font-size: 14px;
    font-family: 'OpenSans', sans-serif;
    padding: 10px 13px;
}

.input-strings::placeholder {
    font-size: 14px;
    font-family: 'OpenSans', sans-serif;
    color: #cdc7c7;
}

.info-form {
    display: flex;   
    flex-direction: column;
    justify-content: space-between;
    width: 527px;
}

.msgb9 {
    width: 527px;
    height: 165px;     
    min-width: 178px;
    border: none;
    border-bottom: 0.5px solid #e4e0e0;
    font-size: 14px;
    font-family: 'OpenSans', sans-serif;
    color: #cdc7c7;
    resize: none;
}

.msgb9::placeholder {
    font-size: 14px;
    font-family: 'OpenSans', sans-serif;
    color: #cdc7c7;
}

.msgb9:focus {
    outline: 0;
    outline-offset: 0;
}

.input-strings:focus {
    outline: 0;
    outline-offset: 0;
}

.btn-sendmsg {
    display: block;
    margin: 43px auto 0;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    font-family: 'OpenSans', sans-serif;
    background-color: #ff8b38;
    cursor: pointer;
    border: none;
    padding: 15px 24px;
    border-radius: 3px;
    box-shadow: 0px 1.5px 2px 0.1px gray;
}

.footer2 {
    background-color: #000000;
    padding: 38px 300px 15px;
}

.smfooter2 {
    text-align: center;
}

.textf2 {
    font-size: 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'OpenSans', sans-serif;
    margin-top: 15px;
}

.smiconsf2 {
    margin-right: 30px;
}






